#! .env.example

# Express
PORT=3000
NODE_ENV=development

# URL
CLIENT_URL=http://localhost:3000

# Sentry:
SENTRY_DSN=DSN_FROM_sentry.io

# OpenWeather
OPENWEATHER_API_KEY=your_openweather_api_key

# Unsplash
UNSPLASH_ACCESS_KEY=your_unsplash_access_key

# Session
SESSION_SECRET=some_very_long_secret_more_than_32_characters

# Admin Email
EMAIL_ADMIN=your_eamil@domain.com
EMAIL_PASSWORD=your_app_password
EMAIL_SERVICE=your_app_provider
EMAIL_HOST=your_email_smtp
EMAIL_PORT=your_email_port

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=DakermanjiSolutions
DB_USER=postgres
DB_PASSWORD=your_password
DB_SSL=true
DB_SSL_CA_PATH=/home/your-whc-user/private/prod-supabase.cer

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL={CLIENT_URL}/auth/google/callback

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL={CLIENT_URL}/auth/github/callback

# Discord OAuth
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_CALLBACK_URL={CLIENT_URL}/auth/discord/callback
